@main("Training") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/custom/training.scala.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jquery-3.2.1.js")'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
} {
    <h1>Willkommen beim Natural User Interface 4.0</h1>
    <br>
    <img src='@routes.Assets.versioned("images/hand_image01.png")' alt="140x140" class="img-rounded" height="200"  align="center">
    <br>
    <h5><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> by Lars Badde</h5>

}
