@main("Under Construction") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/custom/training.scala.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jquery-3.2.1.js")'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style> </style>
} {


    <img src='@routes.Assets.versioned("images/uc.jpg")' alt="140x140" class="img-rounded" height="280" width="280" align="center">

}
